</div>
<div class="footer text-center">
    Made with 
     &nbsp;
    <figure class="img-wrapper icon">
      <img src="/assets/icon/like.svg" alt="love">
    </figure>
    &nbsp;
    in Malang, 2018
  </div>
  <script src="/js/main.js"></script>
</body>
</html>