<section class="alert row">
  <p>UIN Gallery adalah tempat terkumpulnya kreasi terbaik karya mahasiswa UIN Maliki. Kirimkan karyamu segera!</p>
  <a href="upload" class="btn btn-default">Upload Karya</a>
</section>